<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.flowerapplet.mapper.FolwerAppletBasketMapper">
    <!-- MEILI-DOMAIN: Order - 订单领域数据访问映射 -->

    <select id="getShopCartItems" resultType="org.dromara.flowerapplet.domain.vo.FolwerAppletBasketVo">
    SELECT fb.basket_id, fb.prod_id, fp.product_name as prodName, fp.product_list_picture_url as prodPic,
           fp.ori_price as price, fb.sku_id, ts.colour, ts.weight, ts.weight, fb.user_id,
           fb.basket_count, fb.basket_date, fb.status
    FROM folwer_basket fb
        LEFT JOIN folwer_product fp ON fb.prod_id = fp.id
        LEFT JOIN folwer_sku ts ON fb.sku_id = ts.sku_id
    WHERE fb.del_flag=0 AND fb.user_id = #{userId}
    ORDER BY fb.`basket_id` DESC
    </select>

</mapper>
